<div class="py-5" style="background-image: url(https://static.pingendo.com/cover-stripes.svg); background-position: left center; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="p-5 col-lg-6">
        <h3 class="display-4">Connexion</h3>
        <h3></h3>
        <%= form_for(:session, :html => {role: "form"}, url: login_path) do |f| %>
          <div class="form-group"> <%= f.email_field :email, class: "form-control", placeholder: "Adresse mail" %> </div>
          <div class="form-group"> <%= f.password_field :password, class: "form-control", placeholder: "Mot de Passe" %> <small class="form-text text-muted text-right">
          </small> </div> <%= f.submit "Valider", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>