<div class="py-5" style="background-image: url(https://static.pingendo.com/cover-stripes.svg); background-position: left center; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="p-5 col-lg-6">
        <h3 class="display-4">Inscription</h3>
        <h3></h3>
        <form>
          <div class="form-group"> <input type="text" class="form-control" placeholder="Entrer votre Prénom" id="prenom"> </div>
          <div class="form-group"> <input type="email" class="form-control" placeholder="Entrer votre Nom" id="nom"> </div>
          <div class="form-group"> <input type="email" class="form-control" placeholder="Adresse mail" id="mail"> </div>
          <div class="form-group"> <input type="password" class="form-control" placeholder="Mot de Passe" id="pass"> <small class="form-text text-muted text-right">
          </small> </div> <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>